{% extends "base.html" %}

{% block title %}О сайте{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1>О сайте</h1>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Информация о проекте</h5>
                <p class="card-text">Информация о проекте появиться позже:) </p>
                <hr>
                <h6>Разработчик:</h6>
                <p>Егоренков Александр</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}